[Unit]
Description=NAAC Finance .NET Web API
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/dotnet /var/www/naac-finance-api/PortalApi.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=naac-finance-api
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
WorkingDirectory=/var/www/naac-finance-api

[Install]
WantedBy=multi-user.target